body {
    background-color: blue;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    width: 80vmin;
    height: 80vmin;
    min-width: 300px;
    min-height: 300px;
    background-color: black;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7vmin;
}

.square about {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.square a {
    color: cyan;
    text-decoration: none;
    margin: 5px;
}

.square email {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.square email span:nth-child(2n + 1) {
    display: none;
}